<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leisure</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet">
    <!--Css stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Fonts Awesome-->
    <script src="https://use.fontawesome.com/a6ebce2573.js"></script>
    <!-- Icon -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%- include('./partials/app_bar.ejs') %>
    <div class="wrapper">
      <div class="news">
        <% if(articles != null) { %>
          <% if(articles.total_results != 0) { %>
            <% articles.results.forEach(function(article, index) { %>
              <% if(article.poster_path != null) { %>
              <!-- <a href="/article/<%- article.id %>" class="news__card"> -->
                <img src="https://image.tmdb.org/t/p/w500<%- article.poster_path %>" alt="">
                <!-- <% if(article.title != null) { %>
                  <h2><%- article.title %></h2>
                <% } else { %>
                  <h2><%- article.name %></h2>
                <% } %>
                <p><%- article.overview %></p> -->
              <!-- </a> -->
            <% } %>
          <% }) %>
        <% } else { %>
          <h2>Nothing found.</h2>
        <% } %>
        <% } else { %>
          <h2>Nothing found.</h2>
        <% } %>
        </div>
    </div>  
  </body>
</html> 